spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/lab_strava_db
    username: lab_strava_user
    password: lab_strava_pass
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    contexts: dev
    enabled: true
